{% extends 'base.html' %}

{% block title %}
    Finished
{% endblock title %}

{% block body %}

    <h2>Thanks you for checking in!</h2>

    Thanks you for checking in! Please have a seat and our staff will call your name you when you are ready!

    <h3>Redirecting in:  <div id="counter">5</div> </h3>


    <a href="{% url 'patient_welcome' %}">Check In </a>

    <script>
        setInterval(function() {
            var div = document.querySelector("#counter");
            var count = div.textContent * 1 - 1;
            div.textContent = count;
            if (count <= 0) {
                window.location.replace("/patient_welcome/");
            }
        }, 1000);
    </script>


{% endblock body %}