{% extends 'base.html' %}

{% block title %}
    Check In
{% endblock title %}

{% block body %}
    <h2>Demographics </h2>
    <div class="span10" id="content1">
        <div class="filters well" style="margin-bottom: 10px">
            <div class="row-fluid">
                <div class="span2 text-center">
                </div>
                <div class="span10">
                    <form action="{% url 'patient_demographic_information' patient_id %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit">
                    </form>


                </div>
            </div>

            <hr style="margin: 3px 0px 10px 0px;">
        </div>
    </div>


{% endblock body %}
